# Environment Configuration
NODE_ENV=development
ENVIRONMENT=development
# Service Ports
PORT=3000
EXPOSED_PORT=3017

# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_HOST=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432
DATABASE_ENGINE=PostgresDB
DATABASE_NAME=student-projectdb
GIC_DATABASE_NAME=student-projectdb
# Redis Configuration
REDIS_PASSWORD=admin123
REDIS_PORT=6379

# JWT Configuration
JWT_SECRET=supersecretkey
JWT_EXPIRES=15m
JWT_REFRESH_SECRET=refreshsupersecret
JWT_REFRESH_EXPIRES=7d

#Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

#GitHub OAuth
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=

